*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table,th,td{
    border: 1px solid #e7e737;
    padding: 10PX;
}
.project{
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-size: 20PX;
}
.color{
    color: aliceblue;
    display: flex;
    flex-direction: row;
}